# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.venv
vevn
*.whl
*.log
**/tests/

# JavaScript
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/dist/
frontend/build/

# General
.DS_Store
.env
*.swp
.env
orders.json
